:root {
  color-scheme: dark;
  width: fit-content;
}

body {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  color: white;
  text-wrap-mode: nowrap;
}

hr {
  width: 100%;
}
